.accordionsFAQ {
  padding: 1% 25%;

}

.accordion {
  background-color: var(--white);
  margin-block-end: 0.4%;
  color: var(--black);
  cursor: pointer;
  width: 100%;
  border: none;
  text-transform: uppercase;
  text-align: left;
  font-size: 22px;
  padding: 3%;
  padding-left: 5%;
  
}

.active,
.accordion:hover {
  background-color: #F5F5F5;
}


/* "Content": \002B er '+' sourcekoden til åben og luk funktionen */
.accordion:after {
  content: '\002B';
  float: right;
  margin-left: 5px;
}


.accTekst {
  font-size: 18px;
  padding-top: 1%;
  margin-block-start: 0em;
  margin-block-end: 0.7em;
}

.accTekstAdr {
  font-weight: bold;
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-style: italic;
  padding-bottom: 1%;
}

  /* "Content": \2212 er '-' sourcekoden til åben og luk funktionen */
.active:after {
  content: "\2212";
}

/* Transitionen heruder gør at menuen folder sig langsommere ud*/
.panel {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #FDFDFD;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}


