h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
    text-transform: uppercase;
}

.knapTilHold {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--aqua);
    color: var(--white);
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1%;
    text-transform: uppercase;
  }
  
  .knapTilHold:hover {
    background-color: var(--grey);
    color: var(--black);
  }







