h1 {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 2%;
    text-transform: uppercase;
}

.knapTilHold {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--aqua);
    color: var(--white);
    padding: 2% 0;
    font-size: 3vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1%;
    text-transform: uppercase;
  }
  
  .knapTilHold:hover {
    background-color: var(--grey);
    color: var(--black);
  }


  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 6vw;
      text-align: center;
      padding: 2% 0;
      text-transform: uppercase;
  }
  .knapTilHold {
    font-size: 5vw;
  }

  }




