


footer{
    width: auto;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Følgende er nyhedsbrevsektionen*/
.nyhedsbrev {
    background-color: var(--darkergrey);
    display: flex;
    width: auto;
    padding-top: 0.5%;
}

.tilmeld {
    color: var(--white);
    padding-left: 15%;
    padding-right: 18em;
    padding-bottom: 0.5%;
    padding-top: 0.em;
}

#indtastEmail {
    border-radius: 10px;
    border: none;
    height: 28px;
    font-style: italic;
    font-size: 15px;
    padding-right: 3%;  
}

.emailBoks {
    padding-top: 0.05em;
    padding-bottom: 0.5em;
}

.flyerFigur {
    padding-top: 0.2em;
    padding-left: 1em;
}

.indtastIkon {
    height: 20px;
}

/*Footer*/
/*Knapper i footer, alle elementer*/
.footerKnapper {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    background-color: var(--darkGrey);
}

/*Knapper i footer, enkelte elementer*/
.footerKnap {
    padding: 6px 30px 6px 30px;
    background-color: var(--darkGrey);
    border-radius: 5px;
    border: white 1px solid;
    font-size: 14px;
    margin: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/*Knapper i footer, hover*/
.footerKnap:hover {
    background-color: var(--grey);
}

.adresseYT {
    background-color: var(--darkGrey);
    display: flex;
    padding-left: 15%;
    padding-bottom: 0em;
}

.adresseBoks {
    justify-content: left;
    color: var(--white);
}

.ytLogoBox {
    justify-content: right;
    padding-top: 70px;
    padding-left: 22.5%;
    padding-top: 5.5%;
}

.ytLogo {
    height: 3em;
    border-radius: 532px;
    border: var(--white) 1px solid;
    padding: 5px;
    cursor: pointer;
}

.afsluttendeText {
    text-align: center;
    color: var(--white);
    padding-left: 28%;
    height: 200px;
}

.logoG {
    font-size: 40px;
    padding-top: 15%;

}

.footerKontaktOverskrift {
    font-size: 20px;
}


.tilmeldHoldKnapTekst {
    color: var(--white);
    text-decoration: none;
}

.knapTilmeldU {
    text-align: center;
    padding-bottom: 0%;
}

.tilmeldHoldKnapUndervisning{
    background-color: var(--aqua);
    color: var(--white);
    padding: 8px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   justify-content: center;
}



@media only screen and (max-width: 480px) {
    footer { 
        width: auto;
    }

    /* Følgende er nyhedsbrevsektionen*/
    .nyhedsbrev {
        flex: auto;
        flex-direction: column;
        text-align: center;
    }
    
    .tilmeld {
        color: white;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2.5em;
    }
    
    #indtastEmail {
        border-radius: 10px;
        border: none;
        height: 28px;
        font-style: italic;
        font-size: 15px;
        padding-right: 3%;  
    }
    
    .emailBoks {
        padding-top: 12px;
    }
    
    .flyerFigur {
        padding-top: 0px;
        padding-left: 0px;
    }
    
    .indtastIkon {
        height: 20px;
        padding-bottom: 20px;
    }

    /*ovenstående er nyhedsbrevsektionen*/

/*Footer*/
/*Knapper i footer, alle elementer*/


.footerKnapper {
    display: flex;
    background-color: var(--darkGrey);
    flex-direction: column;
    text-align: center;
}

/*Knapper i footer, enkelte elementer*/
.footerKnap {
    padding: 6px 50px 6px 50px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin-block-start: 2em;
    margin-block-end: 2em;
}

.adresseYT {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
}

.adresseBoks {
    text-align: center;
}

.ytLogoBox {
    padding-top: 0px;
    padding-left: 0%;
    text-align: center;
    padding-bottom: 55px;
}


.afsluttendeText {
    text-align: center;
    padding-left: 0%;
    height: 150px;
}

.logoG {
    font-size: 2em;
    padding-top: 5%;
    margin-block-end: 0.1em;
}

.footerKontaktOverskrift {
    font-size: 30px;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

.footerBagground {
    background-color: var(--darkergrey);
}

  }