/*Fosidebillede*/
.forsideBillede {
  width: 100%;
  opacity: 55%;
}

/* Første sektion på forside der leder til om-mig herunder */

.overskriftOnline{
  font-size: 2em;
  text-align: left;
}
/*OVERSKRIFT*/
.overskriftForside {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}


.flexSektionOmForside {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-top: 4%;
  text-align: center;
  padding-bottom: 3rem;
  width: 100vw;
}

.flexSektionOmForsideBillede {
  width: 90%;
  flex: 50%;
  flex: left;
  padding-left: 15%;
}

.flexSektionOmForsideTekstBoks {
  padding-right: 15%;
  padding: 10px;
  padding-left: 1%;
  padding-right: 10%;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: .01em;
}

.flexSektionOmForsideTekst {
  margin-block-start: 0px;
  margin-block-end: 2em;
  font-weight: 100;
}

.flexSektionOmForsideTekstOverskrift {
  font-size: 22px;
  margin-block-start: .2em;
  margin-block-end: 0px;
}

.flexSektionOmForsideKnap {
  background-color: var(--aqua);
  border: none;
  border-radius: 12%;
  padding: 0.3rem 2.5rem 0.3rem 2.5rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.flexSektionOmForsideKnapIndhold {
  color: var(--white);
  text-decoration: none;
}

.flexSektionOmForsideListe{
  padding-bottom: 2%;
}

/* Første sektion på forside der leder til om-mig herover */


/* Alt herunder er de 5 runder knapper */
/* Overskrifter*/
.overskrifterForside {
  font-size: 30px;
  text-align: center;
  margin-block-end: 0em;
  padding-top: 3rem;
}

.underoverskriftForside {
  font-size: 20px;
  text-align: center;
  color: var(--aqua);
  margin-block-start: 0em;
  margin-block-end: 1em;
}

.sektionMedFlexInstrumenter {
  padding-bottom: 2rem;
}

/* De runde knapper herunder*/
.flexInstrumenter {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.flexGuitar,
.flexElguitar,
.flexBas,
.flexUkelele,
.flexMandolin {
  padding: 10px;
  border: var(--black) 4px dotted;
  font-size: 25px;
  border-radius: 100%;
  padding-top: 9%;
  padding-bottom: 9%;
  margin-right: 2%;
  flex: 10%;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}

.flexGuitar:hover,
.flexElguitar:hover,
.flexBas:hover,
.flexUkelele:hover,
.flexMandolin:hover {
  background-color: var(--grey);
}

/* Alt herover er de 5 runder knapper */

/* Alt herunder er sektionen med videoer */

.videoerSektion {
  background-color: var(--lightGrey);
  padding-bottom: 4%;
}

.videoerSektionVideoer {
  display: flex;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

#video1 {
  padding: 2rem;
  flex: 33%;
}

#video2 {
  padding: 2rem;
  flex: 33%;

}

#video3 {
  padding: 2rem;
  flex: 33%;

}

.mereKnap {
  text-align: center;
}

/* Alt herover er sektionen med videoer */



.flexSektionOmForsideBillede2 {
  width: 100%;
  text-align: center;
  padding-left: 25%;
  padding-left: 25%;
}

.flexSektionOmForsideTekstBoks2 {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

.listPunkt {
  font-weight: 100  ;
}



/* Alt herunder er CSS der tilpasser websitet til mobilstørrelser på maks 480p */
@media only screen and (max-width: 480px) {

  /*Fosidebillede*/
  .forsideBillede {
    width: 100%;
    opacity: 55%;
  }

  .overskriftOnline{
    font-size: 30px;
    text-align: center;
  }

  /* Første sektion på forside der leder til om-mig herunder */
  /*OVERSKRIFT*/
  .overskriftForside {
    font-size: 30px;
    text-align: center;
    padding: 0px 1rem 0px 1rem;
  }

  .flexSektionOmForside {
    font-size: 20px;
    display: inline;
    text-align: center;
  }

  .flexSektionOmForsideListe{
    padding-bottom: 22%;
    font-size: 18px;
  }

  .billedeBox{
    width: auto;
  }

  .flexSektionOmForsideBillede {
    padding: 10px;
    width: 90%;
    flex: 0%;
  }


  .flexSektionOmForsideTekstBoks {
    padding: 10px;
    flex: 0%;
    padding-left: 5%;
    padding-right: 10%;
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: .01em;
  }

  .flexSektionOmForsideTekst {
    margin-block-start: 0px;
    margin-block-end: 2em;
  }

  .flexSektionOmForsideTekstOverskrift {
    font-size: 22px;
    margin-block-start: .2em;
    margin-block-end: 0px;
  }

  .flexSektionOmForsideKnap {
    background-color: rgb(4, 182, 206);
    border: none;
    border-radius: 12%;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .flexSektionOmForsideKnapIndhold {
    color: var(--white);
    text-decoration: none;
  }

  /* Første sektion på forside der leder til om-mig herover */


  /* Alt herunder er de 5 runder knapper */
  /* Overskrifter*/
  .overskrifterForside {
    font-size: 22px;
    text-align: center;
    margin-block-end: 0em;
    padding-top: 0rem;
  }

  .underoverskriftForside {
    font-size: 16px;
    text-align: center;
    color: var(--aqua);
    margin-block-start: 0em;
    padding-left: 2%;
    padding-right: 2%;
  }

  .sektionMedFlexInstrumenter {
    padding-bottom: 2rem;
  }

  /* De runde knapper herunder*/
  .flexInstrumenter {
    display: flex;
    font-size: 30px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: column;
  }

  .flexGuitar,
  .flexElguitar,
  .flexBas,
  .flexUkelele,
  .flexMandolin {
    padding-top: 37.5%;
    padding-bottom: 37.5%;
    margin-bottom: 12%;
    flex: 10%;
  }

  .flexGuitar:hover,
  .flexElguitar:hover,
  .flexBas:hover,
  .flexUkelele:hover,
  .flexMandolin:hover {
    background-color: var(--white);
  }

  /* Alt herover er de 5 runder knapper */

  /* Alt herunder er sektionen med videoer */

  .videoerSektion {
    background-color: var(--lightGrey);
    padding-bottom: 4%;
    padding-top: 2%;
  }

  .videoerSektionVideoer {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  #video1, #video2, #video3 {
    padding: 0.5rem;
    width: 90%;
  }

  #video2, #video3 { 
    display: none;
  }




  .mereKnap {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  /* Alt herover er sektionen med videoer */



}