
  .h1Workout {
    text-align: center;
    color: var(--black);
    font-family: 'Oswald';
    font-size: 3em;
    padding: 0 0 5vh 0;
  }
  .aWorkout {
    text-decoration: none;
    color: inherit;
    color: var(--lightGrey);
    font-family: 'Oswald';
  }

  /* <!-- Billedet er hentet fra https://www.colourbox.dk/ --> */

  .workout {
<<<<<<< Updated upstream
    background-image: url("/assets/images/elguitar-skaleret.png");
    
=======
    background-image: url("./assets/images/elguitar-skaleret.png"); 
>>>>>>> Stashed changes
    height: 13vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .emptySpace{
    height: 13vw;
  }

  
  
  
  @media only screen and (max-width: 480px) {
    .emptySpace{
      height: 3vw;
    }
  .h1Workout {
    padding: 0;
  }
  
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2rem;
    }
  }