* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: var(--white);
    font-size: 16px;
}

body {
    background-color: white;
}


/* ---Header--- */
header {
    height: 15vw;
    width: auto;
    background-color: var(--lightGrey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5vw;
}

a:hover {
    cursor: pointer;
    color: var(--white);
}

button:hover {
    cursor: pointer;
    color: var(--black);
}

.logo:hover {
    color: var(--black);
}

.logoFaqKontaktContainer {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 5% 0 5%;
}

.logo {
    height: 100%;
    width:  70%;
    font-size: 4vw;
    margin-top: -2%;
}

.faqKontaktContainer {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}

.faqButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2vw 0 2vw;
    border: 1px var(--darkGrey) solid;
    background-color: var(--grey);
    border-style: none;
    border-radius: 2px;
}

.kontaktButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2vw 0 2vw;
    border: 1px var(--darkGrey) solid;
    background-color: var(--grey);
    border-style: none;
    border-radius: 2px;
}

nav {
    height: 30%;
    width: 100%;
    background-color: var(--darkGrey);
    align-self: flex-end;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

nav > * {
    color: var(--white);
    padding: 0% 2% 0 2%;
    font-size: 1vw;
    margin-left: 2%;
}

nav > *:hover {
    color: var(--black);
}

.dropdownMenu1 {
    height: auto;
    width: 80%;
    position: absolute;
    left: 15%;
    top: calc(100% + 1rem);
    color: var(--black);
    background-color: var(--lightGrey);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 200ms ease-in-out, transform 250ms ease-in-out;
}

.dropdownMenu1 > a {
    width: 100%;
    font-size: inherit;
    padding: 2% 5% 2% 5%;
    display: flex;
}

.dropdownMenu1 > a:hover {
    width: 100%;
    font-size: inherit;
    padding: 5% 5% 5% 5%;
    background-color: var(--darkGrey);
    
}

.dropdown.active > .dropdownKnap + .dropdownMenu1 {
    opacity: 1;
    transform: translateY(-10px);
    pointer-events: auto;
}

.dropdownMenu2 {
    height: 10vw;
    width: 138%;
    position: absolute;
    left: 15%;
    top: calc(100% + 1rem);
    color: var(--black);
    background-color: var(--lightGrey);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 200ms ease-in-out, transform 250ms ease-in-out;
}

.dropdownMenu2 > a {
    width: 100%;
    font-size: inherit;
    padding: 2% 5% 2% 5%;
    display: flex;
}

.dropdownMenu2 > a:hover {
    width: 100%;
    font-size: inherit;
    padding: 5% 5% 5% 5%;
    background-color: var(--darkGrey);  
}

.dropdown.active > .dropdownKnap + .dropdownMenu2 {
    opacity: 1;
    transform: translateY(-10px);
    pointer-events: auto;
}

.dropdownMenu3 {
    height: 10vw;
    width: 138%;
    position: absolute;
    left: 15%;
    top: calc(100% + 1rem);
    color: var(--black);
    background-color: var(--lightGrey);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 200ms ease-in-out, transform 250ms ease-in-out;
}

.dropdownMenu3 > a {
    width: 100%;
    font-size: inherit;
    padding: 2% 5% 2% 5%;
    display: flex;
}

.dropdownMenu3 > a:hover {
    width: 100%;
    font-size: inherit;
    padding: 5% 5% 5% 5%;
    background-color: var(--darkGrey);  
}

.dropdown.active > .dropdownKnap + .dropdownMenu3 {
    opacity: 1;
    transform: translateY(-10px);
    pointer-events: auto;
}

.dropdownMenu3 > button {
    width: 100%;
    font-size: inherit;
    padding: 2% 5% 2% 5%;
    display: flex;
}

.dropdownMenu3 > button:hover {
    width: 100%;
    font-size: inherit;
    color: var(--white);
    padding: 5% 5% 5% 5%;
    background-color: var(--darkGrey);  
}

.dropdownMenu4 {
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 80%;
    position: absolute;
    left: 70%;
    top: calc(100% + 1rem);
    color: var(--black);
    background-color: var(--lightGrey);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 200ms ease-in-out, transform 250ms ease-in-out;
}

.dropdownMenu4 > a {
    width: 100%;
    font-size: inherit;
    padding: 2% 5% 2% 5%;
    display: flex;
}

.dropdownMenu4 > a:hover {
    width: 100%;
    font-size: inherit;
    padding: 5% 5% 5% 5%;
    background-color: var(--darkGrey);  
}

.dropdown.active > .dropdownKnap + .dropdownMenu4 {
    opacity: 1;
    transform: translateY(-10px);
    pointer-events: auto;
}

.loginForm {
    padding: .5vw;
}

.loginForm > input {
    margin-bottom: 1vw;
}




.dropdownKnap {
    color: var(--white);
    border: none;
    background-color: var(--darkGrey);
    font-size: inherit;
    font-family: inherit;
}

.dropdown {
    position: relative;
}

.dropdown.active > .dropdownKnap,
.dropdownKnap:hover {
    color: var(--black);
}

.dropdownUnderMenu2 {
    width: 80%;
    position: absolute;
    left: 100%;
    top: calc(100% - 85%);
    color: var(--black);
    background-color: var(--lightGrey);
    padding: 0 25% 50% 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 1;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 200ms ease-in-out, transform 250ms ease-in-out;
}

.instrumentøvelserKnap {
    background-color: var(--lightGrey);
    color: inherit;
}

.dropdownUnderMenu2:hover,
.dropdownUnderMenu2:target {
    color: var(--white);
    opacity: 1;
}


.omUndervisningenKnap {
    margin-left: 4%;
}

.onlineundervisningKnap {
    
    
}

.holdundervisningKnap {

}

.komGodtIGangKnap {
    width: 25%;
}

.GratisLektionerKnap {

}

.burgermenu {
    display: none;
}

.loginForEleverKnap {
    width: 10vw;
    margin-left: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1vw;
}

.loginPil {
    margin: 1% 0 0 3%;
}



/* MediaQuery start */
@media only screen and (max-width: 480px) {

    header {
        height: 22vw;
    }

    .logo {
        font-size: 6.5vw;
    }

    .faqButton {
        font-size: 2.5vw;
        border-radius: 5px;
    }

    .kontaktButton {
        font-size: 2.5vw;
        border-radius: 5px;
    }

    nav {
        height: 35%;
        flex-direction: row;
        position: relative;
    }

    .mobileHide {
        display: none;
    }

    .loginForEleverKnap {
        font-size: 2.5vw;
        margin-left: -43%;
    }

    .loginPil {
        margin: 2% 0 0 4%;
    }

    .burgermenu {
        display: block;
        margin-left: 43%;
    }

}