.forsideBillede {
    width: 100%;
    opacity: 80%;
    z-index: -100;
  }

  
.forsideBillede2 {
    display: none;
  }

.holdElementer {
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.overskriftUndervisning {
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
}

.sektionIntro {
    padding: 1% 15%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 7%;
}

.sektionVenstre{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

.sektionVenstre > h3 {
    margin-top: 1vw;
}


.sektionRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sektionRight > h3 {
    margin-top: 1.5vw;
}

.holdElement {
    padding: 2%;
    background-color: var(--darkGrey);
    width: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.holdElementPaaVej {
    padding: 2%;
    background-color: var(--lightGrey);
    width: 100%;
}

.holdNavn {
    text-transform: uppercase;
    font-size: 22px;
}

.holdTid {
    font-size: 20px;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.holdInfo {
    font-size: 18px;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.pladserTilbage {
    padding-top: 12%;
    padding-bottom: 12%;
}

.prisPrLektion {
    color: var(--aqua);
    text-transform: uppercase;
    font-size: 18px;
    margin-block-end: .1em;
}

.iAltPris {
    font-size: 16px;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.tilmeldHoldKnap {
    background-color: var(--aqua);
  color: var(--white);
  padding: 4px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.tilmeldHoldKnapTekst {
    color: var(--white);
    text-decoration: none;
    font-family: 'Oswald';
}

.knapTilmeldU {
    text-align: center;
    padding-bottom: 3%;
}

.fandtIkke {
    font-size: 2vw;
    text-align: center;
    margin-block-end: 0em;
    padding: 3rem 0 .5vw 0;
  }

.kontaktSammen {
    font-size: 1.2vw;
    text-align: center;
    color: var(--aqua);
    margin-block-start: 0em;
    margin-bottom: 1.5vw;
}


.tilmeldHoldKnap{
    background-color: var(--aqua);
    color: var(--white);
    padding: .5vw 5vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   justify-content: center;
}

.tilmeldHoldKnap:hover {
    color: var(--black);
}

.tilmeldHoldKnapTekst {
    color: var(--white);
    text-decoration: none;
}


.tilbageTilTop {
    text-decoration: none;
    text-align: center;
    padding-bottom: 2%;
    color: gray;
    cursor: pointer;
    margin-top: 1.5vw;
}

.tilbageTilTop:hover {
    color: var(--black);
} 
  
  
  


@media only screen and (max-width: 480px) {
    

    .sektionIntro {
        padding: 1% 15%;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 7%;
        width: auto;
        margin-top: -5%;
    }

    .overskriftUndervisning {
        font-size: 8vw;
        margin-block-end: 0.23em;
        width: auto;
        padding-top: 5%;
    }

    .sektionVenstre, .sektionRight {
        width: auto;
    }

    .sektionVenstre > h3 {
        margin-block-start: 10%;
    }

    .sektionRight > h3 {
        margin-block-start: 10%;
    }

    .holdElementer {
        padding-top: 2%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 2%;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        gap: 4%;
    }

    .holdElement {
        padding: 15%;
        background-color: var(--darkGrey);
        width: auto;
        margin-bottom: 4%;
    }

    .holdElementPaaVej {
        padding: 15%;
        background-color: var(--lightGrey);
        width: 100%;
        margin-bottom: 4%;
        width: auto;
        color: var(--black);
    }

    .fandtIkke {
        width: auto;
        padding: 2% 10%;
        font-size: 8vw;
    }
    
    .kontaktSammen {
        font-size: 4vw;
        width: auto;
        padding: 5% 10%;
    }
}

