.overskriftOmUnderviseren {
    padding: 2vw 0;
    text-align: center;
    
}

.overskriftOUTekst {
    font-size: 4.5vw;
}

.sektionOmUnderviserenUnderoverskrift {
    margin-block-end: 0em;
    margin-top: 2vw;
}

.sektionOmUnderviserenTekst {
    margin-block-start: 0.5em;
}

.imgBilledeTop {
    display: none;
}

.sektionOmUnderviseren, .sektionOmUndBilledeCitat {
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
    gap: 4%;
    font-size: large;
}


.sektionOmUndBilledeCitat, .citatTekst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}

.videoerSektion {
    background-color: var(--lightGrey);
} 


.articleBillede {
    width: auto;
}

.imgBillede {
    width: 90%;
}

.citatTekst {
    font-size: 30px;
    width: auto;
    text-align: center;
    padding-top: 10%;
    padding-right: 10%;
}

.citatTekstText {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-style: italic; 
}


.tilmeldHoldKnap {
  font-size: 1.5vw;
}

.tilmeldHoldKnapTekst {
    color: var(--white);
    text-decoration: none;
}

.knapTilmeldU {
    text-align: center;
    padding-bottom: 0%;
}



/* ------- */

.fandtIkke {
  font-size: 2vw;
  text-align: center;
  margin-block-end: 0em;
  padding: 3rem 0 .5vw 0;
}

.kontaktSammen {
    font-size: 1.2vw;
    text-align: center;
    color: var(--aqua);
    margin-block-start: 0em;
    margin-bottom: 1.5vw;
}


.tilmeldHoldKnap{
    background-color: var(--aqua);
    color: var(--white);
    padding: .5vw 5vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   justify-content: center;
}

.tilmeldHoldKnap:hover {
    color: var(--black);
}

.tilmeldHoldKnapTekst {
    color: var(--white);
    text-decoration: none;
}

.tilbageTilTop {
    text-decoration: none;
    text-align: center;
    padding-bottom: 2%;
    color: gray;
    cursor: pointer;
    margin-top: 1.5vw;
}

.tilbageTilTop:hover {
    color: var(--black);
}

/* ------- */




@media only screen and (max-width: 480px) {
    .overskriftOmUnderviseren {
        padding: 2vw 0;
    }
    
    .overskriftOUTekst {
        margin-block-end: 0em;
        padding-bottom: 5%;
        padding-top: .5vw;
        font-size: 8vw;
    }
    
    .sektionOmUnderviseren, .sektionOmUndBilledeCitat {
        flex-direction: column;
        font-size: larger;
    }

    .sektionOmUnderviserenUnderoverskrift {
        font-size: 22px;
        margin-block-end: 0em;
        margin-top: 6vw;
    }

    .sektionOmUnderviserenTekst {
        margin-block-start: 0.3em;
    }

    #video2 {
        display: flex;
        width: auto;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 9%;
    }    
    
    .sektionOmUndBilledeCitat, .citatTekst {
        display: flex;
        flex-direction: row;
        padding: 2% 15%;
        gap: 4%;
    }

    .sektionOmUndBilledeCitat {
        padding: 0px;
    }

    .imgBilledeTop {
        display: flex;
        width: 100%;
    }

    .citatTekst {
        text-align: center;
        font-size: 22px;
        padding-bottom: 5%;
    }
    .imgBillede {
        display: none;
    }

    .overskrifterForside {
        font-size: 30px;
    }
    .underoverskriftForside {
        font-size: 4vw;
        padding-left: 15%;
        padding-right: 15%;
        margin-block-end: 0em;        
    }


    .kontaktSammen {
        font-size: 4vw;
        text-align: center;
        color: rgb(4, 182, 206);
        margin-block-start: 0em;
        margin-bottom: 1.5vw;
    }

    .knapTilmeldU {
        padding-bottom: 4%;
    }

    .fandtIkke {
        margin-block-start: 0em;
        font-size: 6vw;
    }
    

    .tilbageTilTop {
        padding-bottom: 2em;
    }

    .tilmeldHoldKnap {
        font-size: 4vw;
    }

    .citatTekstText {
        margin-top: 10vw;
    }
    
}