
.overskriftOnline {
    text-align: center;
    font-size: 40px;
}

.sectionOne {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionOne > h1 {
    height: 6vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.sectionOneContainerOne {
    display: flex;
    height: 40vw;
    width: 90%;
    background-color: var(--white);
    color: var(--black);
    
}

.headsetPicture {
    width: 50vw;
}

.sectionOneContainerOne > article {
    width: 50%;
    padding: 0 0 0 5%;
    font-size: 1.4vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.tilmeldBtn {
    align-self: center;
    width: auto;
    background-color: var(--aqua);
    border-style: none;
    padding: .8vw 4vw;
    border-radius: 6px;
    color: var(--white);
    font-size: 1.5vw;
}

.sectionOne > h2 {
    height: 6vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}



.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    width: auto;
    background-color: var(--lightGrey);
    color: var(--black);
}

.accordionBtn {
    border-style: none;
    background-color: inherit;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    padding: 2.5vw 0;
}

.active, .accordion:hover {
    background-color: var(--grey);
    color: var(--black);
}

.panel {
    display: none;
    overflow: hidden;
    height: 0;
}

i {
    margin: -.1vw 1vw 0 0;
}

.sectionTwo > button > h3 {
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: lighter;
}

.sectionTwo > div > img {
    height: 30vw;
    width: 45vw;
}



.sectionThree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    width: auto;
    background-color: var(--white);
    color: var(--black);
}

.sectionThree > button > h3 {
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: lighter;
}

.sectionThree > div > img {
    height: 30vw;
    width: 45vw;
}



.sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    width: auto;
    background-color: var(--lightGrey);
    color: var(--black);
}

.sectionFour > button > h3 {
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: lighter;
}

.sectionFour > div > img {
    height: 30vw;
    width: 45vw;
}



.sectionFive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    width: auto;
    background-color: var(--white);
    color: var(--black);
}

.sectionFive > button > h3 {
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: lighter;
}

.sectionFive > div > img {
    height: 30vw;
    width: 45vw;
}



.sectionSix {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    width: auto;
    background-color: var(--lightGrey);
    color: var(--black);
}

.sectionSix > button > h3 {
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: lighter;
}

.sectionSix > div > img {
    height: 30vw;
    width: 45vw;
}