.onlineundervisningOverskrift {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 2%;
    text-transform: uppercase;
}

.sektionOnline {
    display: flex;
    padding: 0 2%;
    width: auto;
    
}

.billedeSektionOnline {
  width: 100%;
}

.billedeSektionOnlineBillede {
    width: 100%;
    background-size: cover;
}

.sektionOnlineTekst {
    font-size: large;
    padding-bottom: 8%;
}

.sektionOnlineTeksten {
  font-size: 1.3vw;
  margin: 1vw;
}

.sektionOnlineUOverskrift {
    font-size: 1.5vw;
    font-weight: bold;
    margin-block-end: 0.3em;
    margin: 1vw;
    margin-top: 2vw;
}


.tilmeldHoldKnap{
  background-color: var(--aqua);
  color: var(--white);
  padding: .5vw 5vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

.sektionOnlineTekst > .knapTilmeldU {
  margin-block-start: 4vw;
}

.tilmeldHoldKnap:hover {
  color: var(--black);
}

.tilmeldHoldKnapTekst {
  color: var(--white);
  text-decoration: none;
}

.knapTilmeldU {
    text-align: center;
    align-self: flex-end;
}

.hvorforOverskrift {
    font-size: 2.8vw;
    text-align: center;
    padding-top: 3%;
}

.accordion {
    background-color: #F5F5F5;
    margin-block-end: 0.4%;
    color: var(--black);
    cursor: pointer;
    width: 100%;
    border: none;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.6vw;
    padding: 3%;
    padding-left: 5%;
    font-family: 'Oswald';
    font-weight: bold;
  }
  
  .active2,
  .accordion:hover {
    background-color: #F5F5F5;
  }
  
  
  /* "Content": \002B er '+' sourcekoden til åben og luk funktionen */
  .accordion:after {
    content: '\002B';
    float: right;
    margin-left: .25vw;
  }

  .accPictures {
    padding-top: 1%;
    width: 100%;
    text-align: center;
  }
  
  .accPicture {
    width: 80%;
  }
  
  .accTeksten {
    width: 100%;
  }
  
  .accTekst {
    width: 100%;
    font-size: 1.5vw;
    text-align: left;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  .accTekstAdr {
    font-weight: bold;
    font-size: 16px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-style: italic;
    padding-bottom: 1%;
  }
  
    /* "Content": \2212 er '-' sourcekoden til åben og luk funktionen */
  .active2:after {
    content: "\2212";
  }
  
  /* Transitionen heruder gør at menuen folder sig langsommere ud*/
  .panel {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FDFDFD;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    display: flex;
    flex-direction: column;
  }

  .accordionsFAQ {
    padding: 0% 25%;
    
  }
  
  .faqOverskrift {
    text-align: center;
    font-size: 40px;
    padding-top: 2%;
  }


  .fandtIkke {
    font-size: 2vw;
    text-align: center;
    margin-block-end: 0em;
    padding: 3rem 0 .5vw 0;
  }

.kontaktSammen {
  font-size: 1.2vw;
  text-align: center;
  color: var(--aqua);
  margin-block-start: 0em;
  margin-bottom: 1.5vw;
}

hr {
  margin: 4% 0 1% 0;
}


.tilbageTilTop {
  text-decoration: none;
  text-align: center;
  padding-bottom: 2%;
  color: gray;
  cursor: pointer;
  margin-top: 1.5vw;
}

.tilbageTilTop:hover {
  color: var(--black);
}








@media only screen and (max-width: 480px) {

.sektionOnline {
  flex-direction: column;
}

.accTekst {
  font-size: 2vw;
}

.knapTilmeldU {
  margin-top: -2.5vw;
  padding-bottom: 4%;
}

.onlineundervisningOverskrift {
  font-size: 7.5vw;
  padding: 4% 0;
}

.sektionOnlineUOverskrift {
  font-size: 5vw;
  margin-top: 5vw;
}

.sektionOnlineTeksten {
  font-size: 4vw;
}

.hvorforOverskrift {
 margin-bottom: 2vw;
 font-size: 6vw;
}

.accordionsFAQ {
  width: 90%;
  padding: 0;
  padding-left: 10vw;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vw;
  margin-bottom: 2vw;
  padding: 3vw 2vw;
}

.fandtIkke {
  font-size: 6vw;
}

.kontaktSammen {
  font-size: 4vw;
}


}