body {
    margin: 0;
   font-family: "Oswald";
    
}

/* Colors for variants */
:root {
    --white: #fff;
    --black: #000;
    --lightGrey: #bebebe;
    --grey: #949494;
    --darkGrey: #545454;
}

