body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* Colors for variants */
:root {
    --white: #fff;
    --black: #000;
    --lightGrey: #f0eaea;
    --grey: #949494;
    --darkGrey: #545454;
    --aqua: rgb(15, 244, 244);
}

