body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* Colors for variants */
:root {
    --white: #FDFDFD;
    --black: #000;
    --lightGrey: #f0eaea;
    --grey: #F5F5F5;
    --darkGrey: #3A3A3A;
    --aqua: #00C2CB;
}

